.step {
  display: flex;
  flex-direction: column;

  .step-content {
    flex-grow: 1;
    flex-shrink: 1;
    padding: $layout-spacing $layout-spacing-lg;
  }

  .step-actions {
    flex-grow: 0;
    flex-shrink: 0;
    height: 100px;

    line-height: 100px;
    text-align: center;
  }
}
