// Variables and mixins
@import "~spectre.css/src/mixins";

// Reset and dependencies
@import "~spectre.css/src/normalize";
@import "~spectre.css/src/base";

// Elements
@import "typography";
@import "forms";
@import "~spectre.css/src/labels";
@import "~spectre.css/src/codes";

// Layout
@import "~spectre.css/src/layout";
@import "steps";

// Utilities
@import "transitions";

// Custom styling
@import "custom";
